---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Rédaction d'articles",
    description:
      "Découvrez notre blog dédié à la diversité dans l'esport, le jeu vidéo et le streaming. Nous écrivons régulièrement sur des sujets qui nous tiennent à cœur. Vous y trouverez des conseils pratiques, des témoignages inspirants, des analyses approfondies et des interviews de personnalités influentes.",
    icon: "bx:bxs-pen",
  },
  {
    title: "Communication",
    description:
      "Suivez-nous sur les réseaux sociaux pour s'informer de nos dernières actualités et événements. Nous organisons également des campagnes de sensibilisation et de mobilisation pour encourager la communauté à agir pour l'inclusion et l'égalité.",
    icon: "bx:bxs-megaphone",
  },
  {
    title: "Streaming",
    description:
      "Rejoignez notre communauté pour partager votre expérience, découvrir de nouveaux jeux et participer à des tournois mixtes. Nous organisons également des streams plus casual pour discuter avec notre communauté et passer un bon moment ensemble.",
    icon: "bx:bxs-movie",
  },
  {
    title: "Esport et tournois",
    description:
      "Nous organisons des tournois esport mixtes pour différents niveaux. Nous avons également formé des équipes mixtes pour participer à des compétitions sur divers jeux. Quelque soit votre niveau, nous vous invitons à rejoindre nos tournois et équipes pour vivre une expérience esportive unique et inclusive.",
    icon: "bx:bxs-joystick-alt",
  },
  {
    title: "Conférences et événements",
    description:
      "Nous partageons nos expérience pour sensibiliser le public à l'importance de l'inclusion et de l'égalité dans le monde du jeu vidéo. Nous avons également participé à des événements en collaboration avec d'autres organisations pour renforcer notre impact.",
    icon: "bx:bxs-trophy",
  },
  {
    title: "Communauté",
    description:
      "Nous avons créé un serveur Discord pour rassembler les membres de notre communauté et organiser des activités ensemble. Rejoignez notre communauté pour rencontrer des personnes partageant les mêmes idées et pour contribuer à un monde de jeu plus inclusif et diversifié !",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Nos actions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Nous nous engageons à promouvoir une culture de jeu positive qui célèbre la diversité, l'inclusion et l'égalité. Nous sommes convaincus que la diversité est une force, et que le mélange de cultures, d'expériences et de perspectives peut conduire à des résultats incroyables.
    Découvrez comment nous travaillons pour un monde de jeu plus diversifié et inclusif.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
